body {
    background-color:#ff7e75;
    text-align: center;
}
.Fuecoco-word{
    font-size:80px;
    color: crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    background-color: #e93428;
}
img{
    width: 100px;
}
table{
    background-color: #FDD835;
    width: 100%;
    text-align: center;
    color: #ffbb00;
}
hr{
    width: 50%;border-color:#ff00f2;
}
.about-title{
    color: #ffbb00;
    text-align: center;
    font-size: 40px;
}
.violet{
    color: rgb(159, 4, 231);
}
.TTitle{
    width: 20%;
}
.scarlet{
    color: rgb(138, 2, 2);
}
.pokedex{
    color:rgb(255, 240, 240);
    border-color: #a52424;
    border-style: solid;
}
.Cocolink{
    color: #ffbb00;
    text-decoration: none;
}
.CocoButton{
    display: inline;
    margin: 2px;
    border: 2px solid #ffbb00;
    background: #e93428;
    color: #ffbb00;
    font-size: 16px;
    line-height: 22px;
    padding: 16px 24px;
    border-radius: 30px;
    transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 8px 0;
    cursor: pointer;
    width: 100px;
}
.buttonspace{
    text-align: center;
}
.CocoButton:hover {
    background-color: #ff46f0;
    color: #fff6de;
    border: 2px solid #fff6de;
}
.bLeft{
    margin-left: 20px;
}
.bRight{
    margin-right: 20px;
}
