body {
    text-align: center;
    background-image: linear-gradient(to right,#ee3131,#f142e3);
}
.Fuecoco-word{
    font-size:80px;
    color: crimson;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td{
    background-color: #e93428;
}
img{
    width: 100px;
}
.bigimg{
    width: 90px;
}
.bigimg2{
    width: 80px;
}
.croc{
    width:110px ;
    text-align: center;
}
table{
    background-color: #FDD835;
    width: 100%;
    text-align: center;
    color: #ffbb00;
    
}
table, td{
    border: 0px;
    border-style: solid;
    border-radius: 9px;
    font-weight: bold;
}
hr{
    width: 50%;
    border-color:#ff7b00;
}
.about-title{
    color: #ffbb00;
    text-align: center;
    font-size: 40px;
}
.violet{
    color: rgb(159, 4, 231);
    background-color: #e93f33;
}
.TTitle{
    width: 20%;
}
.scarlet{
    color: rgb(138, 2, 2);
    background-color: #e93f33;
}
#pokedex{
    color:rgb(255, 240, 240);
    border-color: #ffffff;
    background-color: #e93f33;
    border-style: solid;
    border-radius:30px;
}
.Cocolink{
    color: #ffbb00;
    text-decoration: none;
}
.CocoButton{
    display: inline;
    margin: 2px;
    border: 2px solid #ffbb00;
    background: #e93428;
    color: #ffbb00;
    font-size: 16px;
    line-height: 22px;
    border-radius: 30px;
    transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 8px 0;
    cursor: pointer;
    width: 100px;
    height: 50px;
}
.buttonspace{
    text-align: center;
}
.CocoButton:hover {
    background-color: #ff46f0;
    color: #fff6de;
    border: 2px solid #fff6de;
}
.bLeft{
    margin-left: 20px;
}
.bRight{
    margin-right: 20px;
}
fixes the spacing of affected
.fueRight{
    margin-right: 10px;
}
.imgRight{
    margin-right: 10px;
}
#dextable{
    background-color: #ffffff;
}
.ShinyRight{
    margin-right: 40px;
}
.ShinyLeft{
    margin-left: 40px;
}
#f{
    color: #f142e3;
}
#u{
    color: #F141D5;
}
#e{
    color: #F13FC1;;
}
#c{
    color: #FFBB00;
}
#o{
    color: #ee315a;
}
#c1{
    color: #EA363B;
}
#o1{
    color: #e23226;
}
.fire1{
    width: 75px;
}
.sited{
    font-weight: bold;
    font-size: 30px;
    border: 2px solid;
    margin-left: 10% ;
    margin-right: 10% ;
    background-color: #e93428;
    color: #FDD835;
    border-radius: 180px;

}

.chart{
    width: 20%;
}
.evos{
    font-weight: bold;
    font-size: 30px;
    border: 2px solid;
    margin-left: 10% ;
    margin-right: 10% ;
    background-color: #e93428;
    color: #FDD835;
    border-radius: 180px;
    padding: 10px;
}
#fire{
    width: 20px;
}
#about-title{
    border-radius: 50px;
}